@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Jost';
    background: #E0E1E1;
}
.padding{
    display: flex;
    flex-direction: column;
    gap: 230px;
    padding-top: 200px;
    padding-right: 350px;
    padding-left: 350px;
}
h1
{
    font-style: normal;
    font-weight: 600;
    font-size: 160px;
    line-height: 120px;
    color: #302E2B;
}
h2
{
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 70px;
    color: #302E2B;
}
h3{
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 85px;
    color: #302E2B;
}
h4{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 115%;
    color: #302E2B;

}
.extrabold{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
}
.bold{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 114%;
}
.normal{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #D1C6BE;
}
.normal_black{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #302E2B;
}
.title
{
    box-sizing: border-box;
    padding-top: 115px;
    padding-right: 300px;
    padding-left: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 115px;
    background: url(../image/OLIMP.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.titletext
{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.btns{
    display: flex;
    flex-direction: row-reverse;
    gap: 35px;
}
.titlebtns{
    width: 180px;
    height: 85px;
    border: none;
    padding: 15px;
    text-align: center;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: white;
    background: #DE6A15;
    cursor: pointer;
}
.titlebtns:hover{
    color: rgb(224, 224, 224);
    background: #c25d15;
}
.school{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-bottom: 235px;
}
.schtext{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 640px;
    gap: 64px;
    box-sizing: border-box;
    padding-left: 64px;
    background-color: #302E2B;
}
.adaptivefacts{
    display: none;
}
.schtext_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    gap: 55px;
    max-width: 700px;
    margin-right: 64px;
}
.facts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    color: white;
    gap: 50px;
}
.f{
    display: flex;
    flex-direction: column;
    width: 105px;
}
.f:nth-child(1){
    width: 150px;
}
.block-img{
    display: block;
    min-width: 530px;
    height: 640px;
    background-size: cover;
    background: url(../image/maincard.jpg);
    background-repeat: no-repeat;
}
.block-img-horizontal{
    display: none;
}
.adaptiveschtext{
    display: none;
}
.facts2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 350px;
    padding-left: 350px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #302E2B;
}
.f2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 44px;
    max-width: 290px;
    color: white;
}
.f2:nth-child(2){
    margin-top: 20px;
    box-sizing: border-box;
}
.f2:nth-child(3){
    margin-top: 27px;
    box-sizing: border-box;
}
.txtblock{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tariffimg11{
    display: none;
}
.tariffimg22{
    display: none;
}
.teacher_no_adaptive{
    display: flex;
    flex-direction: row;
    width: 820px;
    height: 415px;
    box-sizing: border-box;
    padding-right: 50px;
    background-color: #302E2B;
}
.teachers{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.teacherstext{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    gap: 25px;
}

.teacherinfo_adaptive{
    display: none;
}
.teacherinfo{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
    gap: 50px;
    color: white;
}
.block-img2{
    display: block;
    height: 415px;
    min-width: 316px;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(../image/teacher.png);
}
ul{
    list-style-type: square;
    margin-bottom: 50px;
    margin-left: 20px;
}
li{
    font-family: 'Jost';
    font-style: normal;
font-weight: 400;
font-size: 18px;
color: white;
}
.feedback{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.whatyouget{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
}
.infogifts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: 4px solid #302E2B;
    box-sizing: border-box;
    padding-top: 20px;
    width: 630px;
    max-height: 300px;
}
.another{
    display:none;
}
.textgift{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 115%;
    color: #302E2B;
}
.textgiftlittle{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 134%;
    color: #302E2B;
}
.block-img3{
    display: block;
    height: 100px;
    min-width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(../image/ava.png);
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.txt-rate{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
}
.nameandstars{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}
.stars{
    display: block;
    height: 24px;
    max-width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(../image/4stars.png);
}
.variant1comment{
    display: flex;
    flex-direction: row;
    width: 820px;
    height: 415px;
    box-sizing: border-box;
    padding-right: 50px;
    background-color: #302E2B;
}
.variant2comment_adaptive{
    display: none;
}
.tariff{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.rates{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.rate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 640px;
    box-sizing: border-box;
    padding-right: 35px;
    background-color: #302E2B;
}
.tariffinfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 64px;
    margin-right: 35px;
    margin-bottom: 65px;
}
.tarifftext{
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: white;
}
.tariffimg1{
    display: block;
    min-width: 490px;
    height: 640px;
    background-size: cover;
    background: url(../image/tariff1.png);
    background-repeat: no-repeat;
}
.tariffimg2{
    display: block;
    min-width: 490px;
    height: 640px;
    background-size: cover;
    background: url(../image/tariff2.png);
    background-repeat: no-repeat;
}
.tariffbtn{
    display: flex;
    align-self: flex-end;
    gap: 26px;
}
.pricepermonth{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #DE6A15;
    width: 175px;
    height: 61px;
    background: none;
    border: 4px solid #DE6A15;
    cursor: pointer;
}
.pricepermonth:hover{
    background: #DE6A15;
    color: white;
}
.allprice{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    width: 175px;
    height: 61px;
    background-color: #DE6A15;
    border: none;
    color: white;
    cursor: pointer;
}
.allprice:hover{
    color: rgb(224, 224, 224);
    background: #c25d15;
}
.faq{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.allfaqs{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.qanda{
    padding-bottom: 20px;
    border-bottom: 4px solid #302E2B;
    cursor: pointer;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    gap: 30px;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.2s ease;
}
.qanda.active .answer{
    max-height: 300px;
    animation: fade 0.4s ease-in-out;
}
.qanda.active svg{
    transform: rotate(180deg);
}
svg{
    transition: transform 0.5s;
    min-width: 32px;
}

@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

footer{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 120px;
    padding-left: 350px;
    padding-bottom: 120px;
    padding-right: 350px;;
    background-color: #302E2B;
    margin-top: 200px;
}
.olympus{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 58px;
    color: #E0E1E1;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}
.footext{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #E0E1E1;
}
.contacts{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.social{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#mailandphone{
    display: flex;
    flex-direction: row;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    gap: 40px;
}
.mail{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.phone{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.copyright{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #88888D;
}
.btnfoo{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.btnsvg{
    background: none;
    border: none;
    cursor: pointer;
}
